/* @font-face {
    font-family: "twiggy";
    src: url("fonts/Twiggy-Regular.otf");
} */

@font-face {
    font-family: "Twiggy";
    src: url("https://db.onlinewebfonts.com/t/8d10e93aa305629223fcd850f6e9a810.eot");
    src: url("https://db.onlinewebfonts.com/t/8d10e93aa305629223fcd850f6e9a810.eot?#iefix")
            format("embedded-opentype"),
        url("https://db.onlinewebfonts.com/t/8d10e93aa305629223fcd850f6e9a810.woff2")
            format("woff2"),
        url("https://db.onlinewebfonts.com/t/8d10e93aa305629223fcd850f6e9a810.woff")
            format("woff"),
        url("https://db.onlinewebfonts.com/t/8d10e93aa305629223fcd850f6e9a810.ttf")
            format("truetype"),
        url("https://db.onlinewebfonts.com/t/8d10e93aa305629223fcd850f6e9a810.svg#Twiggy")
            format("svg");
}

.frame {
  border: 15px solid #371f18;
  padding: 20px;
  border-image: url(img/dark-bark.jpg) 50 round;
  background-color: #ededed;
  transition: 0.5s;
}
